#topbar{height: 4ex;vertical-align: middle;}
#facebook_button > i{color: rgba(22,160,133,0.7);padding: 2px;}
#facebook_button > i:hover{color: hotpink;}

#header{text-align: center; width: 100%;display: inline-block;margin: auto; } 
#header > h3{color: #239F85; font-family: 'Exo 2', sans-serif;height: 50px; font-size: medium;overflow: hidden;white-space: nowrap;animation: typing 4.5s steps(50, end);margin: -4vmin auto;}
#header > h1 > img{max-width: 600px;}

#panel{background:rgba(22,160,133,0.7);}
#panel > h1{text-align: center;font-size: x-large;}

#about1{text-align: center;}
#about1 > h1{color: black;font-family: Arial, Helvetica, sans-serif;font-size: xx-large;}
#about1 > h2{color: black;font-family: Arial, Helvetica, sans-serif;font-size: medium;}

#counters{background:rgba(22,160,133,0.7);}

#members{color: crimson;}
#info{color: cyan;}


.members img:hover{color: darkblue;}


/*-------*/
.teamSectionText {
  opacity: 0;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  padding: 25% 5%;
  color: white;
  background-color: #29bae4;
  background-color: rgba(104, 135, 238, 0.8);
  /*transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%);*/
  text-align: center;
  -webkit-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition:opacity 0.4s ease-in-out;
}
.teamSection img {
  /*height: 300px;*/
}
.teamSectionText h1 {
  color: white;
  font-size: 2em;
}
.teamSectionText h2 {
  color: white;
  font-size: 1.25em;
}
.teamSectionText a {
  color: white;
}
.teamSectionText:hover {
  opacity: 1;

}
.teamSection:hover {
  opacity: 0.3;
}
.team-wrap {
  height: 300px;
}
/*------*/

/*map*/
#map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
#map-container iframe{
  left:0;
  top:0;
  position: fixed;
  text-align: center;
  }
/*------------*/







.social-icons ul {
  padding: 0;
  margin: 0; }

.text-center.social-icons ul {
  display: inline-block; }

.social-icons li {
  float: right;
  list-style: none; }

.social-icons li a {
  float: left;
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  border: 0;
  background: transparent;
  color: rgba(22,160,133,0.7);
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.dark .social-icons li a {
  color: #eeeeee; }

.social-icons.social-icons-colored a,
.social-icons.social-icons-colored-hover a:hover {
  color: #fff;
  border: 0; }



.social-icons.social-icons-colored .social-facebook a,
.social-icons.social-icons-colored-hover .social-facebook a:hover {
  background-color: #5d82d1; }

.social-icons.social-icons-colored .social-twitter a,
.social-icons.social-icons-colored-hover .social-linkedin a:hover {
  background-color: #faa33d; }


.social-icons.social-icons-colored .social-youtube a,
.social-icons.social-icons-colored-hover .social-instagram a:hover {
  background-color: rgb(243, 99, 224); }

.social-icons.social-icons-colored .social-instagram a,
.social-icons.social-icons-colored-hover .social-mail a:hover {
  background-color: #ef4e41; }










.timeline {
    position: relative;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
  }

  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1px;
    background-color: #50a1ff;
  }

  .timeline-element {
    position: relative;
    width: 50%;
    padding: 1rem 0;
    padding-right: 2.5rem;
    text-align: right;
  }

  .timeline-element::before {
    content: '';
    position: absolute;
    right: -8px;
    top: 1.35rem;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #50a1ff;
    background-color: #fff;
  }

  .timeline-element:nth-child(even)::before {
    right: auto;
    left: -8px;
  }

  .timeline-element:nth-child(even) {
    margin-left: 50%;
    padding-left: 2.5rem;
    padding-right: 0;
    text-align: left;
  }

  @media (max-width: 767.98px) {
    .timeline::before {
      left: 8px;
    }
  }

  @media (max-width: 767.98px) {
    .timeline-element {
      width: 100%;
      text-align: left;
      padding-left: 2.5rem;
      padding-right: 0;
    }
  }

  @media (max-width: 767.98px) {
    .timeline-element::before {
      top: 1.25rem;
      left: 1px;
    }
  }

  @media (max-width: 767.98px) {
    .timeline-element:nth-child(even) {
      margin-left: 0rem;
    }
  }

  @media (max-width: 767.98px) {
    .timeline-element {
      width: 100%;
      text-align: left;
      padding-left: 2.5rem;
      padding-right: 0;
    }
  }

  @media (max-width: 767.98px) {
    .timeline-element:nth-child(even)::before {
      left: 1px;
    }
  }

  @media (max-width: 767.98px) {
    .timeline-element::before {
      top: 1.25rem;
    }
  }






