#topbar{height: 4ex;vertical-align: middle;}
#home{padding-top: 6em; text-align: center;min-height: 100vh;width: 100%;display: inline-block;margin: auto;}
#home > h3{color: #239F85;font-family: 'Exo 2', sans-serif;font-size: 4vmin;overflow: hidden;white-space: nowrap;animation: typing 4.5s steps(50, end);margin: -4vmin auto;}
#home > h1{margin-top: 23vh;margin-bottom: 0;}
#home > h1 > img{max-width: 600px;width: 100%;}
#home > a{position: absolute;bottom: 20px;font-size: 40px;}
#particles-js{position: fixed; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-color: #232455; background-position: 50% 50%; z-index: -1000;}
.footer{background-color: rgba(17, 17, 17, 0.603);color: #fff;font-size: 1em;color: #aaa;}.footer a{color: #aaa;margin: 0 1em;}#facebook_button > i:hover{color: #3b5998;}.gototop{position: fixed;bottom: 20px;right: 20px;background: rgba(0,0,0,0.1);padding: 10px;color: #fff;}.gototop i{line-height: 0.5em;}

.teamsocial > li {color: #fff;display: inline-block; padding: 2%;align-self: start;}

#icon_button > i{color: rgb(25, 177, 146);padding: 2px;}
#icon_button > i:hover{
  color: #ef4e41;
}

#about{background-color: rgba(12, 110, 91, 0.363);padding-bottom: 5%;padding-top: 5%;color: blanchedalmond;}

#team{padding-top: 5%;padding-bottom: 5%;  background-color: rgba(12, 110, 91, 0.363);}
#team h3{font-weight: bolder;color: blanchedalmond;}

#branches{padding-bottom: 2%;padding-top: 2%;padding-left: 1%;padding-right: 1%;}
#branches > h2{color: blanchedalmond;text-align: center;font-weight: bolder;font-style: oblique;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.square{padding: 1%;background-color: rgba(12, 110, 90, 0.534); display: inline-table; text-align: justify;transform: rotateZ(45deg) ;color: blanchedalmond; height: 120px;width: 120px;border-color: blanchedalmond;border-style: double;border-width: 2px;overflow: visible;}
.square h3{color: blanchedalmond;transform: rotateZ(-45deg);font-size: medium;font-weight: bolder;}
#branches .details{color: blanchedalmond;text-align: justify;padding-right: 5%;padding-left: 5%;padding-top: 2%;padding-bottom: 1%;}
#branches .link{padding-top: 2%;padding-bottom: 2%;}
.square:hover {padding: 1%;background-color: rgb(12, 110, 90);opacity: 0.9;height: 125px;width: 125px;}
.square:hover h3{font-size: large;font-weight: bolder;}
.square:hover .details > p{color: chartreuse;}

.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-control { 
  width: 8%;
  width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
  margin-right: 40px;
  margin-left: 32px; 
  background-image: none;
  opacity: 1;
}
.carousel-control > a > span {
  color: white;
  font-size: 29px !important;
}

.carousel-col { 
  position: relative; 
  min-height: 1px; 
  padding-top: 5%;
  padding-bottom: 5%;  
  float: left;
}

.active > div { display:none; }
.active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
.carousel-inner .active.left { left: -50%; }
.carousel-inner .active.right { left: 50%; }
.carousel-inner .next        { left:  50%; }
.carousel-inner .prev		     { left: -50%; }
.carousel-col                { width: 50%; }
.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
.carousel-inner .active.left { left: -50%; }
.carousel-inner .active.right { left: 50%; }
.carousel-inner .next        { left:  50%; }
.carousel-inner .prev		     { left: -50%; }
.carousel-col                { width: 50%; }
.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
.carousel-inner .active.left { left: -33%; }
.carousel-inner .active.right { left: 33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev		     { left: -33%; }
.carousel-col                { width: 33%; }
.active > div:first-child + div { display:block; }
.active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
.carousel-inner .active.left { left: -25%; }
.carousel-inner .active.right{ left:  25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		     { left: -25%; }
.carousel-col                { width: 25%; }
.active > div:first-child + div { display:block; }
.active > div:first-child + div + div { display:block; }
.active > div:first-child + div + div + div { display:block; }
}

.block {
width: 306px;
height: 230px;

}






  /*team*/

#team .h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #eeeeee;
  font-weight: bolder;
  font-size: 30px;
}
#team .h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #cfc5c5e0;
  font-size: 25px;
  padding-bottom: 3%;
}
.ftco-section-featured{
  padding-top: 3%;padding-bottom: 3%;
}

  .ftco-section-featured .heading-section h2 {
    font-weight: 300 !important; }
    .ftco-section-featured .heading-section h2 strong {
      font-weight: 700;
      color: #efac78;
      background: #fdf2ea; }
  .ftco-section-featured.ftco-section-featured-2 {
    margin-top: 0 !important;
    padding-top: 7em; }
  .ftco-section-featured .featured-img {
    display: block;
    position: relative;
    z-index: 0; 
    height: 200px;
    width: 200px;}
    .ftco-section-featured .featured-img h3 {
      font-size: 20px;
      margin-bottom: 0;
      line-height: 1.2; }
      .ftco-section-featured .featured-img h3 .tag {
        font-size: 14px;
        color: #c0c0c3; }
    .ftco-section-featured .featured-img .user {
      padding: 0%;
      text-align: right; }
    .ftco-section-featured .featured-img .user .teamsocial{
      text-align: left; padding-top: 2%;padding-bottom: 2%;}
    .ftco-section-featured .featured-img .user .teamsocial > li 
    {color: rgb(255, 0, 0);display: inline;}
    .ftco-section-featured .featured-img .user h3 {
      padding: 0%;
      font-size: 14px;}
    vertical-align: baseline;}
      .ftco-section-featured .featured-img .user h3 .position {
        font-size: 14px;
        color: #c0c0c3; }
    .ftco-section-featured .featured-img .text {
      padding: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      height: 30px;
      background: #fff;
      border-top: none;
      z-index: -1;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      text-align: right;
    border-bottom-left-radius: 100px; 
    border-bottom-right-radius: 100px;}
    .ftco-section-featured .featured-img .text-1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      height: 30px;
      background: #fff;
      border-bottom: none;
      z-index: -1;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
    text-align: right;
    border-top-left-radius: 100px; 
    border-top-right-radius: 100px; }
      .ftco-section-featured .featured-img .text-1 h4{
        text-align: right;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;

      }
    .ftco-section-featured .featured-img img, .ftco-section-featured .featured-img .text, .ftco-section-featured .featured-img .text-1 {
      -webkit-transform: scale(0.92);
      -moz-transform: scale(0.92);
      -ms-transform: scale(0.92);
      -o-transform: scale(0.92);
      transform: scale(0.92);
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .ftco-section-featured .featured-img:hover {
      z-index: 1; }
      .ftco-section-featured .featured-img:hover img, .ftco-section-featured .featured-img:hover .text, .ftco-section-featured .featured-img:hover .text-1 {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0; }
      .ftco-section-featured .featured-img:hover .text {
        bottom: -22px;
        -webkit-box-shadow: 0px 31px 52px -37px rgba(0, 0, 0, 0.58);
        -moz-box-shadow: 0px 31px 52px -37px rgba(0, 0, 0, 0.58);
        box-shadow: 0px 31px 52px -37px rgba(0, 0, 0, 0.58);
        border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; }
      .ftco-section-featured .featured-img:hover .text-1 {
        top: -32px; 
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px;}
      .ftco-section-featured .featured-img:hover .text, .ftco-section-featured .featured-img:hover .text-1 {
        opacity: 1;
       }
        .d-flex {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
       }

  /*--*/

/*social icons*/
  .social-icons ul {
    padding: 0;
    margin: 0; }
  
  .text-center.social-icons ul {
    display: inline-block; }
  
  .social-icons li {
    float: right;
    list-style: none; }
  
  .social-icons li a {
    float: left;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    margin: 0 4px 4px 0;
    border-radius: 4px;
    border: 0;
    background: transparent;
    color: #239F85;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  
  .dark .social-icons li a {
    color: #eeeeee; }
  
  .social-icons.social-icons-colored a,
  .social-icons.social-icons-colored-hover a:hover {
    color: #fff;
    border: 0; }
  
  
  
  .social-icons.social-icons-colored .social-facebook a,
  .social-icons.social-icons-colored-hover .social-facebook a:hover {
    background-color: #5d82d1; }
  
  .social-icons.social-icons-colored .social-twitter a,
  .social-icons.social-icons-colored-hover .social-linkedin a:hover {
    background-color: #faa33d; }
  
  
  .social-icons.social-icons-colored .social-youtube a,
  .social-icons.social-icons-colored-hover .social-instagram a:hover {
    background-color: rgb(243, 99, 224); }
  
  .social-icons.social-icons-colored .social-instagram a,
  .social-icons.social-icons-colored-hover .social-mail a:hover {
    background-color: #ef4e41; }
    /*-----*/
  